@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'ratio', sans-serif;
    color: #fff;
    background: #50514F;
    font-size: 0.9em;
    font-weight: 300;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

a:hover {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
.mobile-height {
	min-height: 100%;
	max-height: 100%;
}
.home-page {
	height: auto;
	overflow: hidden !important;
}
.home-page img {
	border: 1px solid #fff;
	height: auto;
	width: 100%;
	margin: 0 auto;
	float: left;
}
.home-page-details {
	width: 100%;
	float: left;
	height: 20%;
	border-top: 4px solid #fff;
}
.row {
	border: 1px solid #fff;
	width: 100%;
	float: left;
	letter-spacing: 2px;
}
.box1 {
	width: 60%;
	float: left;
	text-align: center;
	padding: 20px;
	font-size: 21px !important;
	text-transform: uppercase;
	font-weight: 700;
}
.box2 {
	width: 40%;
	float: left;
	text-align: center;
	padding: 20px;
	font-size: 21px !important;
}
.box3, .box4, .box5, .box6, .box7 {
	width: 25%;
	float: left;
	text-align: center;
	padding: 20px;
	font-size: 21px !important;
}

.box1, .box3, .box4, .box5 {
	border-right: 1px solid #fff;
}
a.box2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
	background: #247BA0;
}
a.box2:hover {
	background: #0A3E53;
	color: #fff;
}
.box5, .box6 {
	background: #247BA0;
}

.container { height: 100%; }

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main > section {
	position: absolute;
	width: 50%;
	height: 50%;
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	width: 100%;
	background: #F25F5C;
}

.bl-main > section:nth-child(2) {
	display: none;
}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background: #247BA0;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: #70C1B3;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box h2 {
	text-align: center;
	width: 100%;
	font-size: 1.75em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.ppg-icon--main,
.ppg-icon--contact,
.ppg-icon--menu  {
	margin-bottom: -150px !important;
}

.bl-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 5px;
}
.food-warning {
	margin-top: 25px;
	border-top: 10px solid #fff;
	float: left;
	width: 100%;
	padding: 15px 0 0;
}
.warning-image {
	float: left;
	width: 20%;
	padding-right: 5%;
	padding-top: 2%;
}

.warning-image svg {
	width: 100%;
}

.warning-text {
	float: left;
	width: 75%;
	font-size: .8em;
	font-style: italic;
}
.red {
	color: #F25F5C;
}

.yellow {
	color: #FFE066;
}
.white {
	color: #fff;
	font-style: italic;
}
.white.centered {
	text-align: center;
}
.orange {
	color: #F25F5C;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.sub-main {
	font-size: .8em !important;
}
.home-page-details .sub-main {
	font-weight: 600;
}
h3.menu-name {
	text-align: center;
	font-size: 1.75em;
	font-weight: 700;
	text-transform: uppercase;
}
#bl-work-items li {
	opacity: .85;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#bl-work-items li:hover {
	opacity: 1;
	color: #FFE066;
}
.pizza-svg {
  width: 100%;
  background-image: url(../images/kitchen/Pizza.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.salad-svg {
  width: 100%;
  background-image: url(../images/kitchen/Salad.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.chicken-svg {
  width: 100%;
  background-image: url(../images/kitchen/Chickenmeat.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.sandwich-svg {
  width: 100%;
  background-image: url(../images/kitchen/Burger.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.grinder-svg {
  width: 100%;
  background-image: url(../images/kitchen/Hotdog.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.pasta-svg {
  width: 100%;
  background-image: url(../images/kitchen/Pasta.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.seafood-svg {
  width: 100%;
  background-image: url(../images/kitchen/Fishdish.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.specials-svg {
  width: 100%;
  background-image: url(../images/kitchen/Skewer.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.sides-svg {
  width: 100%;
  background-image: url(../images/kitchen/Fries.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.soup-svg {
  width: 100%;
  background-image: url(../images/kitchen/Soup.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.dessert-svg {
  width: 100%;
  background-image: url(../images/kitchen/Cake.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
.drinks-svg {
  width: 100%;
  background-image: url(../images/kitchen/Colddrink.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}
figure > div {
  margin: 1em auto;
}
.ppg-menu-category {
	text-align: center;
	font-size: 3.5em;
	color: #F25F5C;
	text-transform: uppercase;
	margin-top: 25px;
	line-height: 1em;
	float: left;
	width: 100%;
}
.below {
	margin-bottom: 10px;
}
.above {
	margin-top: -15px;
}
.ppg-menu-item {
	width: 100%;
	display: block;
	float: left;
	padding: 10px 0;
}
.ppg-menu-item span {
	font-size: 2.25em;
	color: #FFE066;
	font-weight: 200;
}
.ppg-menu-sizes span {
	font-size: 1.5em;
	color: #fff;
	font-weight: 200;	
	text-transform: uppercase;
}
.ppg-menu-name {
	width: 50%;
	float: left;
	text-transform: uppercase;
}
.ppg-menu-name-single {
	width: 75%;
	float: left;
	text-transform: uppercase;
}
.ppg-menu-chicken {
	width: 40%;
	float: left;
	text-transform: uppercase;
}
.ppg-included {
	width: 100%;
	float: left;
	margin: 0;
}
.small-size,
.small-price {
	width: 25%;
	float: left;
	text-align: right;	
}
.large-size,
.large-price {
	width: 25%;
	float: right;
	text-align: right;
}
.four-pc,
.six-pc {
	width: 20%;
	float: left;
	text-align: right;		
}
.ten-pc {
	width: 20%;
	float: right;
	text-align: right;	
}

.extra-left {
	padding-left: 15px;
}

.bl-icon-about:before {
	content: "\e000";
}

.bl-icon-works:before {
	content: "\e001";
}

.bl-icon-blog:before {
	content: "\e002";
}

.bl-icon-contact:before {
	content: "\e003";
}

.bl-main > section .bl-icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-icon-close:before {
	content: "\e005";
}

.bl-content, 
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	bottom: 30px;
	overflow: hidden;
	overflow-y: auto;
}

.bl-content {
	padding: 0 30px;
	top: 60px;
}

.bl-content.no-padding {
	padding: 0 !important;
	top: 0 !important;
}

/* Custom content */

.bl-content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
}

.bl-content h2 {
	font-size: 3em;
	margin: 0 0 20px 0;
}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
} 

.bl-content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.bl-content > ul li a {
	display: block;
	padding: 0;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 0px;
	pointer-events: auto;
}

div.bl-panel-items > div > div > div {
	width: 60%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 15px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.5em;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}
.respo img,
div.bl-panel-items img {
	width: 100%;
}
div.bl-panel-items img.ob {
	border-top: 15px solid #F25F5C;
	border-bottom: 15px solid #F25F5C;
}
div.bl-panel-items img.wb {
	border-top: 15px solid #fff;
	border-bottom: 15px solid #fff;
}
div.bl-panel-items img.gb {
	border-top: 15px solid #7CB000;
	border-bottom: 15px solid #7CB000;
}
div.bl-panel-items > div {
	background: #50514F;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: auto;
	left: 50%;
	top: 0px;
	margin-left: -160px;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 0 15px;
}
div.bl-panel-items nav .button-close:hover,
div.bl-panel-items nav .bl-next-work:hover {
	color: #F25F5C;
}
.ppg-phone {
	width: 40px;
	display: none;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #F25F5C;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #247BA0;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #0D8278;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
	font-size: 75%;
	}
	.bl-box h2 {
	padding-top: 50px !important;
	font-size: 1.5em !important;
	}
	.bl-expand .bl-box {
	height: 130px;
	}
	.bl-content > ul li {
	width: 40%;
	margin: 1% 3%;
	}
	.bl-main > section:first-child {
	top: 0;
	left: 0;
	width: 100%;
	background: #F06060;
	}
	.bl-main > section:nth-child(2) {
	top: 50%;
	left: 0;
	background: #FA987D;
	width: 100%;
	}
	div.bl-panel-items > div > div {
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 1px;
	pointer-events: auto;
	}
	div.bl-panel-items > div > div > div {
	width: 80%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	pointer-events: auto;
	}
	.ppg-menu-category {
	font-size: 1.75em;
	}
	.ppg-menu-item span {
	font-size: 1.15em;
	}
	.ppg-menu-sizes span {
	font-size: 1em;
	}
	p.ppg-included,
	p.white,
	p.orange {
	font-size: 1em !important;
	}
	.no-mobile {
	display: none;
	}
	.ppg-icon--main img {
	width: 40%;
	height: 40%;
	}
	.ppg-icon--main,
	.ppg-icon--menu,
	.ppg-icon--contact {
	position: absolute;
	top: 0px;
	bottom: 0px;
	}
	.bl-main > section .bl-icon-close {
	position: absolute;
	top: 10px;
	right: 20px;
	}
	.ppg-icon--main {
	padding-bottom: 75px !important;
	}
	#bl-work-items li {
	opacity: 1;
	}
	div.bl-panel-items img.ob {
	border-top: 5px solid #F25F5C;
	border-bottom: 5px solid #F25F5C;
	}
	div.bl-panel-items img.wb {
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	}
	div.bl-panel-items img.gb {
	border-top: 5px solid #7CB000;
	border-bottom: 5px solid #7CB000;
	}
	.warning-text {
	font-size: .9em !important;
	}
	.warning-image {
	padding-top: 0;
	}
	div.bl-panel-items nav span.bl-next-work {
	font-size: .75em !important;
	line-height: 3em;
	border: 1px solid #fff;
	padding: 5px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
	div.bl-panel-items nav span.bl-next-work:hover {
	border: 1px solid #F25F5C;
	}
	.ppg-phone {
	width: 50px !important;
	display: block;
	}
	.bl-icon {
	line-height: 1.5;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
	.box1 {
	display: block;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 700;
	padding: 25px 0 !important;
	}
	.box1, .box3, .box4, .box5, .box6, .box7 {
	width: 100%;
	padding: 21px 0;
	font-size: 1.5em !important;
	text-transform: uppercase;
	background: #50514F !important;
	}
	.box1, .box3, .box4, .box5, .box6 {
	border-right: none !important;
	border-bottom: 2px solid #fff !important;
	}
	.box2 {
	display: none;
	}
	a.box7 {
	display: block !important;
	background: #fff !important;
	color: #F25F5C;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-weight: 600;
	font-size: 1.35em !important;
	line-height: 1.5;
	}
	a.box7:hover {
	color: #F25F5C;
	}
	.home-page {
	height: auto;
	border: 5px solid #fff;
	border-bottom: none !important;
	}
	.home-page-details {
	height: 72% !important;
	border: 5px solid #fff;
	border-bottom: none !important
	}
	.mobile-height {
	height: 100%;
	overflow: hidden;
	}
	.iconize {
	font-size: 1.25em;
	color: #fff;
	margin-top: 5px !important;
	}
	.circle {
        -moz-border-radius: 21px;
        border-radius: 21px;
        padding: 7px;
        background: #F25F5C;
        margin: 0 5px;
	}
}

@media screen, (min-width: 744px) and (max-width: 928px) {
	.box3, .box4, .box5, .box7  {
	font-size: 1.35em;
	}
}

@media screen, (min-width: 744px) {
	.box7 {
	display: none;
	}

}
